.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
  }

.app-burger{
margin: 2%;
opacity: 1;
}

.app-burger:hover{
    opacity:1;
}

.burger-card {
    max-width: 400px;
}
